@charset "utf-8";
html {
    color: white !important;
    padding: 0;
    margin: 0;
}
/* position body */
body {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 100%;
    overflow: hidden;
    background: rgba(0,0,0,0.8);
    padding: 0%;
    margin: 0%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
form {
    font-size: 100%;
    width: 80%;
    margin-left: 5%;
    padding: 2% 5%;
    border: lightgray solid 2px;
    border-radius: 10px;
}
input {
    border-radius: 2px;
    border: none;
    padding-left: 2%;
    background: rgba(0,0,0,0.10)
}

/*modify placeholder text */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: pink;
}
::-moz-placeholder { /* Firefox 19+ */
 color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
 color: pink;
}
:-moz-placeholder { /* Firefox 18- */
 color: pink;
}
/* modify button */
.btn {
    border-radius: 2px;
    border: none;
    background: rgba(64,171,43,1.00);
    padding: 1% 5%;
    color: white;
    margin-top: 1%;
    text-decoration: none;
}
.btn-red {
    background: rgba(209,31,34,1.00) !important;
}
.btn:hover {
    background: green;
    cursor: pointer;
}
.btn-red:hover {
    background: rgba(150,20,25,1.00) !important;
}
/* set game board area */
.tableWrap {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    padding: 0%;
    margin: 0%;
}
/* show different color to user when they hover over a square */
td:hover {
    background: yellow;
    cursor: pointer;
}
/* highlight winner */
.winner {
    background: green !important;
}
/* loser gets highlighted red */
.selected {
    background: red !important;
}
/* define inital selection box and pop up box display */
.popup, .selector {
    position: absolute;
    background: white;
    color: black;
    width: 90%;
    left: 5%;
    top: 5%;
    z-index: 100;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.4);
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 2%;
}
/* define pop up and form headers */
.header, legend {
    background: royalblue;
    padding: 1%;
    color: white;
    width: 100%;
    text-align: center;
}
/* define body of popup font size and padding */
.body {
    font-size: 80%;
    padding: 1%;
}
/* fade out the game board a little */
.greyout {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    background: rgba(0,0,0,0.4)
}
/* arrow background */
.path {
    background: transparent;
    background-repeat: no-repeat !important;
    background-size: 100% 100%;
}
/* define arrows */
.down {
    background: url(../SVG/down.svg) no-repeat;
}
.up {
    background: url(../SVG/up.svg) no-repeat;
}
.left {
    background: url(../SVG/left.svg) no-repeat;
}
.right {
    background: url(../SVG/right.svg) no-repeat;
}
/* shrink text */
.small {
    font-size: 70%;
}
.float-top-right {
    position: absolute;
    z-index: 2;
    top: 0%;
    right: 1%;
    padding: 1%;
    background: royalblue;
    border-radius: 0 0 20px 20px;
    font-size: 70%
}
h5 {
    position: absolute;
    z-index: 2;
    width: 30%;
    top: 0%;
    left: 1%;
    padding: 0.5%;
    margin: 0;
    background: royalblue;
    border-radius: 0 0 20px 20px;
    font-size: 90%
}
